<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.koy.ss">

    <application
        android:banner="@drawable/ic_start_connected"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="com.github.shadowsocks.ShadowsocksApplication"
        android:allowBackup="true"
        android:backupAgent="com.github.shadowsocks.ShadowsocksBackupAgent"

        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:theme="@style/Theme.Material"
        tools:targetApi="n">
        <activity
            android:name="com.github.shadowsocks.Shadowsocks"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <!-- <activity -->
        <!-- android:name="com.google.android.gms.ads.AdActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/> -->
        <activity
            android:name="com.github.shadowsocks.ShadowsocksRunnerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.github.shadowsocks.ProfileManagerActivity"
            android:excludeFromRecents="true"
            android:label="@string/profiles"
            android:launchMode="singleTask"
            android:parentActivityName="com.github.shadowsocks.Shadowsocks">
            <intent-filter>
                <action android:name="com.github.shadowsocks.ProfileManagerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.github.shadowsocks.intent.action.SORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.github.shadowsocks.intent.action.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="ss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ssr" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="ssr" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.shadowsocks.ScannerActivity"
            android:excludeFromRecents="true"
            android:label="@string/add_profile_methods_scan_qr_code"
            android:parentActivityName="com.github.shadowsocks.ProfileManagerActivity" />
        <activity
            android:name="com.github.shadowsocks.AppManager"
            android:excludeFromRecents="true"
            android:label="@string/proxied_apps"
            android:launchMode="singleTask"
            android:parentActivityName="com.github.shadowsocks.Shadowsocks" />
        <activity
            android:name="com.github.shadowsocks.TaskerActivity"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.shadowsocks.ShadowsocksQuickSwitchActivity"
            android:excludeFromRecents="true"
            android:label="@string/quick_switch"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/PopupTheme.QuickSwitch">
            <intent-filter>
                <action android:name="com.github.shadowsocks.QUICK_SWITCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.shadowsocks.QuickToggleShortcut"
            android:excludeFromRecents="true"
            android:label="@string/quick_toggle"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.github.shadowsocks.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.github.shadowsocks.TaskerReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.evernote.android.job.v14.PlatformAlarmReceiver"
            android:process=":bg" />
        <receiver
            android:name="com.evernote.android.job.JobBootReceiver"
            android:process=":bg" />


        <service
            android:name="com.github.shadowsocks.ShadowsocksRunnerService"
            android:exported="false"/>
        <service
            android:name="com.github.shadowsocks.ShadowsocksNatService"
            android:exported="false"
            android:process=":bg"/> <!-- android-job components -->
        <service
            android:name="com.github.shadowsocks.ShadowsocksVpnService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":bg">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name="com.github.shadowsocks.ShadowsocksTileService"
            android:icon="@drawable/ic_start_connected"
            android:label="@string/quick_toggle"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":bg">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="com.evernote.android.job.v21.PlatformJobService"
            android:process=":bg" />

        <service
            android:name="com.evernote.android.job.v14.PlatformAlarmService"
            android:process=":bg" />
        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            android:process=":bg" />
    </application>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

</manifest>